@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Bangers, sans-serif;
  color: #d4d4d2;
}

button {
  font-family: inherit;
  color: inherit;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  height: 750px;
  background-color: #1c1c1c;
  border-radius: 20px;
}

.display {
  background-color: rgba(169, 169, 169, 0.452);
  width: 500px;
  height: 150px;
  border-radius: 20px;
  font-size: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.functional-buttons-container {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 70px;
}

.clear-button {
  background-color: #d4d4d2b7;
  font-size: 48px;
  border-radius: 20px;
  flex: auto;
  color: black;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 350px;
}

.button {
  flex: 1 0 calc(100% / 5);
  aspect-ratio: 1;
  background-color: #505050;
  border-radius: 100%;
  font-size: 48px;
}

.operator-button {
  background-color: #ff9500;
}

.operator-button:focus {
  background-color: #ffe600;
}
